.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignorar todo en dist_electron
/dist_electron/*

# Pero incluir los artefactos importantes
!/dist_electron/*.exe
!/dist_electron/*.yml